<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lowdown · Web Development</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Website design and development">
    <meta name="author" content="Lowdown · Web Development">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
  <body>

      <!--                                Navbar                                  -->
      <!-- ====================================================================== -->
      <!-- Menu Items float left, on smaller devices turns into a dropdown button -->
      <div id="home" class="navbar-wrapper affix-top" data-spy="affix" data-offset-top="40">
        <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
        <div class="container">

          <div class="navbar navbar-inverse">
            <div class="navbar-inner">
              <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
              <a class="hidden-desktop brand" href="/">Lowdown | Web Dev</a>
              <a class="hidden-tablet hidden-phone brand" href="#home">Lowdown  |   Website Development</a>
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
              <div class="nav-collapse collapse">
                <ul class="nav pull-right" style="padding-right:90px;">
                  <li class=""><a href="#home">Home</a></li>
                  <li class=""><a href="#work">Work</a></li>
                  <li class=""><a href="#services">Services</a></li>
                  <li class=""><a href="#team">Team</a></li>
                  <li class=""><a href="#contact">Contact</a></li>
                  <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                  <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Social Media <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="http://www.twitter.com/peterlowry">Twitter</a></li>
                      <li><a href="http://www.facebook.com/peter.lowry.31">Facebook</a></li>
                    </ul>
                  </li> -->
                </ul>
              </div><!--/.nav-collapse -->
            </div><!-- /.navbar-inner -->
          </div><!-- /.navbar -->

        </div> <!-- /.container -->
      </div><!-- /.navbar-wrapper -->
      
   <%= yield %>       
          
        
    

      
      <!-- Le javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="js/jquery-1.9.1.min.js"></script>
      <script src="js/bootstrap.js"></script>
      <script src="js/init.js"></script>
    
  </body>
</html>
